@import url("https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html *
{
    font-family: "Computer Modern Serif", serif;
}

header
{
border-bottom: 1px solid #d3d3d3;
position: fixed;
top: 0;
transition: all 0.3s ease;
width: 100%;
z-index: 100;
background: #fff;
align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

ul.menu li
{
    color: theme('colors.avg-blue');
    font-size: 40px;
    display: inline-block;
    margin-right: 40px; /* Optional: adds some space between items */
    align-items: center;
position: relative;
margin-left: auto;
}


.img-wrapper {
    height: 80px;
    position: relative;
}
img {
    height: 100%;
    width: 100%;
}
