@import url("https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* html *
{
    font-family: "Computer Modern";
} */

header
{
border-bottom: 1px solid #d3d3d3;
position: fixed;
top: 0;
transition: all 0.3s ease;
width: 100%;
z-index: 100;
background: #fff;
}

header .wrap
{
max-width: 1246px;
padding-top: 40px;
padding-bottom: 30px;
display: flex;
justify-content: space-between;
padding-left: 0;
padding-right: 0;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

ul.menu li
{
  font-family: "Computer Modern";
  font-weight: bold;
  /* font-family: "capitana", sans-serif; */
    /* font-weight: 300; */
    /* font-style: normal; */
    color: black; /* theme('colors.avg-blue'); */
    font-size: 40px;
    display: inline-block;
    margin-right: 40px; /* Optional: adds some space between items */
    align-items: center;
    padding: 3px;
    position: relative;
    margin-left: auto;
    font-size: 16;
    
}
.image-wrapper {
display: flex;
position: relative;
}

nav {
  display: flex; 
  justify-content: space-between;
}

header .logo {
width: 300px;
}

img {
  max-height: 40px;
  width: auto;
  /* height: auto; */
}

p {
  font-size: 20;
}

.articleText {
  padding: 20px 300px 20px 300px;  
  background-color: #f5f5f5;
  text-align: left;
  font-family: "Computer Modern Serif", serif;

}
